<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.MovieMapper">
<resultMap type="com.project.dto.MovieDTO" id="movie">
		<id column="mcode" property="mcode"/>
		<result column="title" property="title"/>
		<result column="titleEng" property="titleEng"/>
		<result column="directorNm" property="directorNm"/>
		<result column="directorEnNm" property="directorEnNm"/>
		<result column="actorNm" property="actorNm"/>
		<result column="actorEnNm" property="actorEnNm"/>
		<result column="company" property="company"/>
		<result column="nation" property="nation"/>
		<result column="genre" property="genre"/>
		<result column="rating" property="rating"/>
		<result column="runtime" property="runtime"/>
		<result column="repRlsDate" property="repRlsDate"/>
		<result column="keywords" property="keywords"/>
		<result column="plotText" property="plotText"/>
		<result column="kmdbUrl" property="kmdbUrl"/>
	</resultMap>
 	<select id="selectMovieCode" resultType="int">
 		select "movie_code".nextval from dual
 	</select>
	<insert id="insertMovie" parameterType="movie">
 	        Insert into "movieDB" ("mcode","title","titleEng","directorNm","directorEnNm","actorNm","actorEnNm","company","nation","genre","rating","runtime","repRlsDate","keywords","plotText","kmdbUrl") values(#{mcode},#{title},#{titleEng},#{directorNm},#{directorEnNm},#{actorNm},#{actorEnNm},#{company},#{nation},#{genre},#{rating},#{runtime},#{repRlsDate},#{keywords},#{plotText},#{kmdbUrl})
 	</insert>
</mapper>











